.container-light{
    font-family: Arial;
    color:#232222;
    border:1px solid #232222;
    border-radius: 10px;
    background-color:whitesmoke;
}
.title-light{
    margin: 0 0 10px 0;
}
.input-light{

}
.label-light{

}