.container-dark{
    font-family: Arial;
    color:whitesmoke;
    border:1px solid whitesmoke;
    border-radius: 10px;
    background-color:#232222;
}
.title-dark{
    margin: 0 0 10px 0;
}
.input-dark{

}
.label-dark{

}